@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
<<<<<<< Updated upstream
  background-color: rgb(183, 206, 187);
}

.about-us {
  height: 100vh;
=======
}

.about-us {
>>>>>>> Stashed changes
  width: 100%;
  padding: 90px 0;
  background: #ddd;
}

.pic {
  height: 400px;
  width: 302px;
<<<<<<< Updated upstream
  border-radius: 0.5rem;
}

=======
  margin: 30px;
}

.carousel img {
  object-fit: cover;
}

>>>>>>> Stashed changes
.about {
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

<<<<<<< Updated upstream
.section1 {
  width: 100%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.section2,
.section3,
.section4,
.section5,
.section6,
.section7 {
  width: 100%;
  padding: 4rem;
}

.section-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 6rem;
}

.content-text {
  width: 50%;
}
h1 {
  text-align: center;
  padding-top: 2rem;
}

h2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

=======
>>>>>>> Stashed changes
.text {
  width: 540px;
}

.text h2 {
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
}

.text h5 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}

span {
  color: #4070f4;
}

.text p {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}

.data {
  margin-top: 30px;
}

.hire {
  font-size: 18px;
  background: #4070f4;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  transition: 0.5s;
}

.hire:hover {
  background: #000;
  border: 1px solid #4070f4;
}

.nav-ul {
  display: flex;
}

.nav-ul a {
  padding: 6px;
  text-decoration: none;
  color: white;
}

.nav-ul a:hover {
  color: #ffffffb8;
}

/* FOOTER */

.context-dark,
.bg-gray-dark,
.bg-primary {
  color: rgba(255, 255, 255, 0.8);
  padding-top: 20px;
}

.footer-classic a,
.footer-classic a:focus,
.footer-classic a:active {
  color: #ffffff;
}

.nav-list li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-list li a:hover:before {
  margin-left: 0;
  opacity: 1;
  visibility: visible;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 23px;
  font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

.social-container .col {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-list li a:before {
  content: "\f14f";
  font: 400 21px/1 "Material Design Icons";
  color: #4d6de6;
  display: inline-block;
  vertical-align: baseline;
  margin-left: -28px;
  margin-right: 7px;
  opacity: 0;
  visibility: hidden;
  transition: 0.22s ease;
}
<<<<<<< Updated upstream
=======

@media screen and (max-width: 768px) {
  .about {
    width: 100vw;
    flex-direction: column;
  }

  .text {
    padding: 40px;
    max-width: 365px;
  }
}
>>>>>>> Stashed changes
