@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
/* Container styling */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: rgba(var(--bs-dark-rgb),);
}

.navbar {
  background-color: #343a40 !important; /* Bootstrap bg-dark equivalent */
  padding: 1rem;
}

.navbar-brand {
  color: white !important;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
}

.navbar-brand img {
  width: 30px;
  height: 24px;
  margin-right: 8px;
}

.navbar-brand:hover {
  color: #ffffffb8 !important;
}

.container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-ul {
  display: flex;
}

.nav-ul a {
  padding: 6px;
  text-decoration: none;
  color: white;
}

.nav-ul a:hover {
  color: #ffffffb8;
}

body {
  margin: 0;
  padding: 0;
  background: #ddd;
  font-family: "Poppins", sans-serif;
}

.container {
  text-align: center;
  padding: 20px;
   
}

.thank-you {
  font-size: 36px;
  color: #4fb022;
}

.main {
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 600;
  
}

/* Developer Grid */
.developer-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  max-width: 90%;
  margin: auto;
  padding: 20px 0;
}

/* Developer Card */
.card {
  background: #ffffff;
  padding: 20px;
  font-weight: 200;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  background-color: #8bcf6b;
}

.card h3 {
  font-size: 16px;
  color: #333;
  margin: 0;
}

/* Links */
.link {
  text-decoration: none;
}